services:
  postgres:
    container_name: starter-db
    image: postgres:17-alpine
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=fastapi_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d fastapi_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    container_name: starter-backend
    build: ./backend              
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=fastapi_db
      - SECRET_KEY=cheie_secreta_pentru_dev
      - CORS_ORIGINS=["http://localhost:3000"]

  frontend:
    container_name: starter-frontend
    build: ./frontend             
    ports:
      - "3000:80"                 
    depends_on:
      - backend

volumes:
  postgres_data: